{% load static %}

<!DCOTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'blog.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'list' %}">DjangoBlog</a></h5>
            {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="btn btn-outline-primary" href="{% url 'login' %}" style="margin-right:10px">Login</a>
            <a class="btn btn-outline-info" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock content %}

        <footer>
            <div class="container">
                <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <p class="copyright text-muted">Copyright &copy; DjangoBlog 2019</p>
                        </div>
                </div>
            </div>
        </footer>
    </body>
</html>