{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="" method="POST">
                {% csrf_token %}
                <p>「{{ d.title }}」 の記事を本当に削除しますか？</p>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="削除">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}