{% extends 'base.html' %}

{% block content %}
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ object.title }}</h1>
                    <span class="meta">Posted by
                    <a>{{ object.author }}</a>
                    on {{ object.updated_at }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>{{ object.text|  linebreaksbr}}</p>
                {% if user.is_authenticated and user.id == object.author_id %}
                <a href="{% url 'update' pk=object.id %}" class="btn btn-success">編集</a>
                {% endif %}
                <hr>
                <p>コメントを残す</p>
                {% for comment in comments%}
                <p>{{ comment.comment }} <a style="color:#868e96"> comment by {{ comment.comment_author }}</a></p>
                
                <form action="{% url 'comment_delete' pk=comment.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="blog_id" value="{{ comment.blog_id }}">
                    {% if user.id == comment.comment_author_id %}
                    <input type="submit" class="btn btn-outline-danger" value="削除">
                    {% endif %}
                </form>
                <hr>
                {% endfor %}
                <form name="sentMessage" id="contactForm" action="{% url 'comment_create' %}" method="POST">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" name="commnet"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="blog_id" value="{{ object.id }}">
                    <br>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" id="sendMessageButton" value="コメント">
                    </div>
                </form>
            </div>
        </div>
    </div>
<article>
{% endblock content %}