{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if user.is_authenticated %}
                <a href="{% url 'create' %}" class="btn btn-success" style="margin-top:15px">作成</a>
            {% endif %}
            {% for obj in object_list %}
            <div class="post-preview">
                <a href="{% url 'detail' obj.pk %}">
                    <h2 class="post-title">
                    {{ obj.title }}
                    </h2>
                    <h3 class="post-subtitle">
                    {{ obj.text| truncatechars:30 }}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a>{{ obj.author }}</a> on {{ obj.updated_at }}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}