{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'login.css' %}" rel="stylesheet">
<div class="container">
    <div class="container">
    {{ message }}
    </div>
    <form class="form-signin" action="" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">登録画面</h1>
        <label for="username" class="sr-only">ログインID</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="ログインID" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="パスワード" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
    </form>
</div>
{% endblock content %}