{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form name="sentMessage" id="contactForm" action="" method="POST">
                {% csrf_token %}
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>タイトル</label>
                        <input type="text" class="form-control" placeholder="タイトル" id="message" name="title" value="{{ before.title }}">
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>内容</label>
                        <textarea rows="5" class="form-control" placeholder="内容" id="message" name="text">{{ before.text }}</textarea>
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <input type="submit" class="btn btn-success" id="sendMessageButton" value="編集">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}